<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dowload de videos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-row>
      <ion-col size="3">
          <ion-input fill="outline" placeholder="Digite sua url" [(ngModel)]="url"></ion-input>
      </ion-col>
      <ion-col size="4">
        <ion-list>
          <ion-item>
            <ion-select [(ngModel)]="format" aria-label="Favorite Fruit" value="Selecione o formato de Dowload">
              <ion-select-option value="video">Video</ion-select-option>
              <ion-select-option value="audio">Audio</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="5">
          <ion-button (click)="download()">Baixar</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    
      <ion-progress-bar [value]="progress"></ion-progress-bar>
      <ion-label>{{ progress * 100 | number:'1.0-0' }}% baixado</ion-label>
    </ion-card>
</ion-content>
